* {
  padding: 0px;
  margin: 0px;
}
body {
  height: 100vh;
  background-color: rgb(86, 86, 85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(143, 202, 251, 0.7);
  height: 502px;
  width: 658px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-form-submit {
  height: 350px;
  width: 500px;
  background-color: aliceblue;
  /* margin: 12px; */
  padding: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#form-heading {
  color: rgb(96, 111, 225, 0.7);
  font-size: 23px;
}
.basic-ques {
  display: grid;
  /* grid-template-columns: repeat(2, auto); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.basic-ques input {
  margin: 8px;
  padding: 10px;
  color: rgb(64, 160, 244);
  font-weight: bold;
  border-radius: 4px;
  background-color: rgba(184, 210, 243, 0.2);
  outline: none;
  border: 1px solid rgba(184, 210, 243, 0.2);
  /* width: 200px; */
}
#address {
  width: 92%;
  outline: none;
  border-radius: 4px;
  padding: 12px;
  color: rgb(64, 160, 244);
  font-weight: bold;
  margin: 5px;
  border: 1px solid rgba(184, 210, 243, 0.2);
  background-color: rgba(184, 210, 243, 0.5);
}
#more {
  width: 92%;
  height: 73px;
  outline: none;
  border-radius: 4px;
  padding: 12px;
  color: rgb(64, 160, 244);
  font-weight: bold;
  margin: 5px;
  border: 1px solid rgba(184, 210, 243, 0.2);
  background-color: rgba(184, 210, 243, 0.9);
}
/* #more value {
  margin-top: 0px;
} */
#btn {
  margin: auto;
  padding: 8px;
  background-color: rgb(0, 136, 255);
  color: white;
  border-radius: 20px;
  width: 100px;
  transition: all 0.5s;
  border: none;
}
#btn:hover {
  background-color: aliceblue;
  color: blue;
  border: 1px solid black;
}
#message-submit {
  color: rgb(79, 240, 67);
}
@media (max-width: 750px) and (min-width: 572px) {
  .container {
    background-color: rgba(143, 202, 251, 0.7);
    height: 487px;
    width: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #main-form-submit {
    height: 343px;
    width: 383px;
    background-color: aliceblue;
    /* margin: 12px; */
    padding: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #form-heading {
    color: rgb(96, 111, 225, 0.7);
    font-size: 23px;
  }
  .basic-ques {
    display: grid;
    /* grid-template-columns: repeat(2, auto); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .basic-ques input {
    margin: 8px;
    padding: 10px;
    color: rgb(64, 160, 244);
    font-weight: bold;
    border-radius: 4px;
    background-color: rgba(184, 210, 243, 0.2);
    outline: none;
    border: 1px solid rgba(184, 210, 243, 0.2);
    /* width: 200px; */
  }
  #address {
    width: 90%;
  }
  #more {
    width: 90%;
  }
}
@media (max-width: 572px) and (min-width: 400px) {
  .container {
    background-color: rgba(143, 202, 251, 0.7);
    height: 495px;
    width: 384px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #main-form-submit {
    height: 360px;
    width: 276px;
    background-color: aliceblue;
    /* margin: 12px; */
    padding: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #form-heading {
    color: rgb(96, 111, 225, 0.7);
    font-size: 23px;
  }
  .basic-ques {
    display: grid;
    /* grid-template-columns: repeat(2, auto); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .basic-ques input {
    margin: 8px;
    padding: 10px;
    color: rgb(64, 160, 244);
    font-weight: bold;
    border-radius: 4px;
    background-color: rgba(184, 210, 243, 0.2);
    outline: none;
    border: 1px solid rgba(184, 210, 243, 0.2);
    /* width: 200px; */
  }
  #address {
    width: 86%;
  }
  #more {
    width: 86%;
  }
}

@media (max-width: 400px) and (min-width: 240px) {
  .container {
    background-color: rgba(143, 202, 251, 0.7);
    height: 447px;
    width: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #main-form-submit {
    height: 325px;
    width: 178px;
    background-color: aliceblue;
    /* margin: 12px; */
    padding: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #form-heading {
    color: rgb(96, 111, 225, 0.7);
    font-size: 23px;
  }
  .basic-ques {
    display: grid;
    /* grid-template-columns: repeat(2, auto); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .basic-ques input {
    margin: 8px;
    padding: 10px;
    color: rgb(64, 160, 244);
    font-weight: bold;
    border-radius: 4px;
    background-color: rgba(184, 210, 243, 0.2);
    outline: none;
    border: 1px solid rgba(184, 210, 243, 0.2);
    /* width: 200px; */
  }
  #address {
    width: 90%;
  }
  #more {
    width: 90%;
  }
}
